*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	font-family: 'Rubik', sans-serif;
	overflow: hidden;
	max-width: 1700px;
}

h1 {
	font-size: 1.3rem;
	text-align: center;
	margin: 1em 0;
	color: #fff;

	@include media($desktop) {
		font-size: 1.6rem;
	}
}