$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

$parag-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);

$body-font: 15px;

$mobile: 375px;
$desktop: 1440px;

$bRadius-mobile: 8px;
$bRadius-desktop: 14px;