*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background: url(bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Montserrat, sans-serif;
}

header {
  width: 100%;
  padding-top: 2em;
}
@media (min-width: 768px) {
  header {
    padding-top: 2.5em;
  }
}

header > p {
  text-align: center;
}

main {
  position: relative;
  width: 80%;
}

section {
  display: flex;
  overflow: hidden;
}

section p {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  color: ghostwhite;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  section p {
    font-size: 2.2rem;
  }
}
@media (min-width: 1024px) {
  section p {
    font-size: 3rem;
  }
}

.btn-group {
  width: 80%;
  max-width: 400px;
  margin: 1.5em auto 2.5em;
  display: flex;
}
@media (min-width: 768px) {
  .btn-group {
    margin: 3em auto;
  }
}

span[role=tab] {
  flex-basis: 50%;
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 1.25em 0.75em;
  background: transparent;
  color: ghostwhite;
  border: 2px solid ghostwhite;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 768px) {
  span[role=tab] {
    font-size: 0.8rem;
  }
}

.tabs {
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  border-bottom: 3px solid ghostwhite;
  border-right: 3px solid ghostwhite;
  height: 15px;
  width: 15px;
  background: transparent;
  cursor: pointer;
}

.left-arr {
  transform: rotate(135deg);
  left: -7%;
}

.right-arr {
  transform: rotate(-45deg);
  right: -7%;
}

.active {
  transition: background 0.5s, color 0.5s;
  background: ghostwhite !important;
  color: #000 !important;
}

span[aria-controls=testimonials] {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

span[aria-controls=feedbacks] {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.first-txt {
  transition: margin 1s;
}

.user-cards {
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@supports (gap) {
  .user-cards {
    gap: 5px;
  }
  @media (min-width: 1024px) {
    .user-cards {
      gap: 20px;
    }
  }
}
@supports not (gap) {
  .user-cards > .user-card {
    margin: 5px;
  }
}
@media (min-width: 768px) {
  .user-cards {
    margin-top: 3.5em;
  }
}
@media (min-width: 1024px) {
  .user-cards {
    margin-top: 7em;
  }
}

.user-card {
  flex: 0 0 275px;
  padding: 1em;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  color: ghostwhite;
  border-radius: 10px;
  cursor: pointer;
}

.user-card.active {
  box-shadow: 0 37px 70px 0px #000;
}

[alt="user picture"] {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 0.75em;
}

.info > p + p {
  margin-top: 0.75em;
}

.company {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 300;
}

/* || UTILS start */
.m-width-1500 {
  max-width: 1500px !important;
  margin: 0 auto !important;
}

section[aria-hidden=true] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  clip: rect(1px, 1px, 1px, 1px);
}

/* UTILS end */

/*# sourceMappingURL=styles.css.map */
