@import "reset";
@import "variables";
@import "mixins";
@import "base";

.btn-group {
  width: 80%;
  max-width: 400px;
  margin: 1.5em auto 2.5em;
  display: flex;

  @include media(768px) {
  	margin: 3em auto;
  }
}

span[role="tab"] {
  flex-basis: 50%;
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 1.25em 0.75em;
  background: transparent;
  color: $main-white;
  border: 2px solid $main-white;
  text-align: center;
  cursor: pointer;

  @include media(768px) {
  	font-size: 0.8rem;
  }
}

.tabs {
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  border-bottom: $arr-border;
  border-right: $arr-border;
  height: $arr-size;
  width: $arr-size;
  background: transparent;
  cursor: pointer;
}

.left-arr {
  transform: rotate(135deg);
  left: $arr-horizontal-distance;
}

.right-arr {
  transform: rotate(-45deg);
  right: $arr-horizontal-distance;
}

.active {
  transition: background .5s, color .5s;
  background: $main-white !important;
  color: #000 !important;
}

span[aria-controls="testimonials"] {
  @include tabRadius(left);
}

span[aria-controls="feedbacks"] {
  @include tabRadius(right);
}

.first-txt {
  transition: margin 1s;
}

.user-cards {
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @supports(gap) {
  	gap: 5px;

  	@include media(1024px) {
  		gap: 20px;
  	}
  }

  @supports not (gap) {
  	& > .user-card {
  		margin: 5px;
  	}
  }

  @include media(768px) {
  	margin-top: 3.5em;
  }

  @include media(1024px) {
  	margin-top: 7em;
  }
}

.user-card {
  flex: 0 0 275px;
  padding: 1em;
  background: rgba(#000, 0.5);
  display: flex;
  color: $main-white;
  border-radius: 10px;
  cursor: pointer;
}

.user-card.active {
  box-shadow: 0 37px 70px 0px #000;
}

[alt="user picture"] {
  width: $user-pic-size;
  height: $user-pic-size;
  border-radius: 50%;
  margin-right: 0.75em;
}

.info > p + p {
  margin-top: 0.75em;
}

.company {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 300;
}
/* || UTILS start */
.m-width-1500 {
  max-width: 1500px !important;
  margin: 0 auto !important;
}

section[aria-hidden="true"] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  clip: rect(1px, 1px, 1px, 1px);
}
/* UTILS end */