[role="checkbox"]:focus,
button:focus,
.filter:focus {
  outline: 2px solid coral;
  outline-offset: 2px;
}

html,
body {
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: $body-bg-light;
  max-width: 1440px;

  @include media(1440px) {
    margin: 0 auto;
  }
}

button,
[role="checkbox"] {
  cursor: pointer;
}

header {
  height: $header-mbl-height;
  background: $header-mbl-bg-light;
  background-repeat: no-repeat;
  background-size: cover;

  @include media($laptop) {
    background: $header-laptop-bg-light;
    height: 225px;
  }
}

// Dark Mode
body.dark {
  background-color: $body-bg-dark;

  header {
    background: $header-mbl-bg-dark;
    background-repeat: no-repeat;
    background-size: cover;
    @include media($laptop) {
      background: $header-laptop-bg-dark;
    }
  }

  .content-wrapper > p {
    background-color: $content-bg-dark;
  }

  .content-wrapper * {
    color: $text-clr-dark-mode;
  }

  .b-shadow {
    box-shadow: 0px 8px 10px -6px $content-bg-dark,
      0px 8px 20px -6px $content-bg-dark;
  }

  .pale-text * {
    color: $pale-text-dark-mode;
  }

  .filter-spans-wrapper-div > span > span:hover,
  .clear-completed:hover {
    color: lighten($pale-text-dark-mode, 20%) !important;
  }
}

main {
  // display: block eklemezsek IE11 iplemiyor bizi
  display: block;
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
