@import "reset";
@import "variables";
@import "utils";
@import "util-classes";
@import "common";

.content-wrapper {
  padding: 0 $cont-wra-mbl-pad-x;
}

.content-wrapper > p {
  background-color: $content-bg-light;
  padding: 0.3em $cont-wra-mbl-pad-x;
  border-radius: 5px;
}

.first-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: $first-wrapper-m-bttm-mobile;
  margin-top: -7.4em;

  @include media($laptop) {
    margin-top: -10em;
  }
}

.new-todo-wrapper {
  margin-bottom: 0.75em;

  @include media($laptop) {
    margin-bottom: 1.25em;
  }
}

.app-name {
  letter-spacing: 0.25em;
  color: white;
  font-weight: 100;

  @include media($laptop) {
    font-weight: 700;
  }
}

.mode {
  background: transparent;
  border: none;
}

span[role="checkbox"] {
  position: relative;
  display: inline-block;
  height: 1.125rem;
  width: 1.125rem;
  border: 1px solid $dark-grayish-blue;
  border-radius: 50%;
  margin-right: 0.25em;
  vertical-align: middle;

  @include media($laptop) {
    width: 1.25rem;
    height: 1.25rem;
  }
}

span[role="checkbox"].checked {
  background: $checked-bg;
}

span[role="checkbox"].checked::before {
  position: absolute;
  content: "";
  border-color: ghostwhite;
  border-style: solid;
  border-width: 0 0.15em 0.1em 0;
  height: 0.5em;
  top: 50%;
  left: 50%;
  margin-top: -0.15em;
  transform: rotate(45deg) translateX(-50%);
  width: 0.4em;

  @include media($laptop) {
    border-width: 0 0.25em 0.15em 0;
    width: 0.5em;
    height: 0.6em;
  }
}

span[role="checkbox"].checked + span {
  text-decoration: line-through;
  opacity: 0.7;
}

#new-todo {
  border: none;
  background-color: transparent;
  padding: 0.5em;
  font-size: 0.75rem;

  @include media($laptop) {
    font-size: 1.15rem;
    padding: 0.75em;
  }
}

.todo-ul {
  margin-bottom: 1em;
  
  @include media($laptop) {
    margin-bottom: 1.5em;
  }
}

p[role="listitem"] {
  font-size: 0.85rem;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0;

  @include media($laptop) {
    font-size: 1.125rem;
  }
}

p[role="listitem"]:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}

p[role="listitem"] > button {
  float: right;
  background: transparent;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  border: none;

  @include media($laptop) {
    font-size: 1.5rem;
  }
}

p.lastitem {
  @include media($laptop) {
    display: flex;
    justify-content: space-between;
  }
}

p.lastitem > button {
  font-size: 0.9em;
  color: inherit;
  font-family: 'Josefin Sans', sans-serif;
}

.filter-spans-wrapper-div p {
  display: flex;
  justify-content: space-evenly;
}

.filter-spans-wrapper-div span {
  cursor: pointer;

  @include media($laptop) {
    font-size: 1.125rem;
  }
}

.filter-spans-wrapper-div.laptop {
  display: none;

  @include media($laptop) {
    display: block;
    & > span {
      display: flex;
      justify-content: space-between;
      width: 200px;
    }
  }
}

.filter-spans-wrapper-div.phone {
  @include media($laptop) {
    display: none;
  }
}

.dragdrophint {
  margin-top: 3em;
  text-align: center;

  @include media($laptop) {
    font-size: 1.125rem;
  }
}