main > .card + .card {
  margin-top: $card-top-margin-mbl;

   @include media($tablet) {
     margin-top: $card-top-margin-desktop;
   }
}


.card {
  position: relative;
  width: $card-n-cho-tab-wid;
  max-width: $max-card-n-cho-wid;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em $card-mbl-pad-x;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border-radius: $bRadius;
  background: #fff;
  box-shadow: 0 8px 8px -4px $header-bg,
              0 12px 10px -9px $header-bg;
  @include media($tablet) {
    flex-direction: row;
    align-items: center;
  }
}

.card.recent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: $recent-before-mbl-wid;
  height: 100%;
  border-top-left-radius: $card-recent-radius;
  border-bottom-left-radius: $card-recent-radius;
  background-color: $header-bg;
}

.logo {
  position: absolute;
  @include logo-position($logo-wid);

  @include media($tablet) {
    position: static;
    width: 80px;
    margin-right: 0.75em;
  }

  @include media($laptop) {
    width: 100px;
  }
}

.main-info {
  padding-bottom: 0.75em;
  border-bottom: 1px solid $pale-text-clr;

  @include media($tablet) {
    border-bottom: none;
    margin-right: auto;
    padding-bottom: none;
  }
}

.company-name {
  color: $header-bg;
  font-size: $comp-name-mbl-size;
  margin-right: 1em;

  @include media($tablet) {
    font-size: 0.95rem;
  }
}

.tags {
  padding: $tags-pad-mbl;
  border-radius: 10px;
  font-size: $tags-mbl-size;
  text-transform: uppercase;
  color: #fff;

  @include media($tablet) {
    font-size: 0.75rem;
  }
}

.new-tag {
  background: $header-bg
}

.featured-tag {
  background: #000;
}

.position-title {
  margin: 1em 0;
  white-space: nowrap;
  &:hover {
    color: $header-bg;
    cursor: pointer;
  }
}

.pale-text {
  color: $pale-text-clr;
  font-size: $pale-text-mbl-size;
  font-weight: 500;

  & > span + span {
    margin-left: 0.25em;
  }
}

.tablets-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
  padding-top: 0.75em;

@include media($tablet) {
    padding-top: 0;
    justify-content: flex-end;
  }
}

.tablet {
  flex: 0 0 auto;
  font-weight: 700;
  font-size: .9rem;
  padding: 0.4em 0.6em;
  border-radius: 4px;
  background-color: $tablet-bg;
  color: $header-bg;
  
  &:hover {
    background-color: $header-bg;
    color: #fff;
    cursor: pointer;
  }
}