// || Colors 
$body-bg: hsl(180, 52%, 96%);
$header-bg: hsl(180, 29%, 50%);
$pale-text-clr: hsl(180, 8%, 52%);
$tablet-bg: hsl(180, 31%, 95%);

// || Width 
$m-card-with: 950px;
$recent-before-mbl-wid: 5px;
$logo-wid: 40px;

// || Padding
$main-mbl-pad-y: 1.4em;
$card-mbl-pad-x: $logo-wid / 2;

// || Size
$pale-text-mbl-size: 0.85rem;

// || Radius 
$bRadius: 8px;
$card-recent-radius: 5px;